:root {
  --main-color: #777;
  --black: #333;
  --white: #fff;
  --border: 0.2rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

*::selection {
  background-color: var(--main-color);
  color: var(--white);
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}

section {
  padding: 3rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* header */

.heading {
  text-align: center;
  margin-bottom: 3rem;
}

.heading img {
  height: 4rem;
  margin-bottom: 1rem;
}

.heading h3 {
  font-size: 4rem;
  color: var(--black);
  font-family: "Merienda One", cursive;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  background-color: var(--main-color);
  cursor: pointer;
  color: var(--white);
  font-size: 1.8rem;
  padding: 1rem 3rem;
}

.btn:hover {
  background-color: var(--black);
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  z-index: 1000;
}

.header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 1.5rem 2rem;
}

.header .flex .logo img {
  height: 5rem;
}

.header .flex .navbar a {
  margin-left: 2rem;
  font-size: 2rem;
  color: var(--black);
}

.header .flex .navbar a:hover {
  text-decoration: underline;
  color: var(--main-color);
}

/* home */

.home-bg {
  background: linear-gradient(90deg, var(--white), transparent 70%), url(../image/Company.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home-bg .home {
  min-height: 70rem;
  display: flex;
  align-items: center;
}

.home-bg .home .content {
  width: 50rem;
  text-align: center;
}

.home-bg .home .content h3 {
  font-size: 6rem;
  color: var(--black);
  font-family: "Merienda One", cursive;
}

.home-bg .home .content p {
  padding: 1rem 0;
  font-size: 1.6rem;
  color: var(--black);
  line-height: 2;
}

/* carousel */

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* carousel container */
.carousel-container {
  max-width: 300px;
  position: relative;
  margin: auto;
  justify-content: center; /* Mengatur posisi ke tengah secara horizontal */
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #333;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.login-container {
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Responsiveness */
@media (max-width: 500px) {
  .login-container {
      margin: 20px;
      padding: 15px;
  }
}

/* Header Responsif */
@media (max-width: 768px) {
  .header .flex {
    flex-direction: column;
    align-items: center;
  }

  .header .flex .logo {
    margin-bottom: 20px;
  }

  .header .flex .navbar {
    margin-top: 20px;
  }

  .header .flex .navbar a {
    margin: 0 10px;
  }
}

/* Carousel Responsif */
@media (max-width: 768px) {
  .mySlides img {
    max-width: 100%;
    height: auto;
  }
}

/* Konten Responsif */
@media (max-width: 768px) {
  .content {
    text-align: center;
  }

  .content h3 {
    font-size: 2rem;
  }

  .content p {
    font-size: 1.2rem;
    line-height: 1.6;
  }

  .btn {
    font-size: 1.2rem;
    padding: 10px 20px;
  }
}





